@model ForgotPassword

@if (Model != null && Model.UserAccount != null)
{
	<html>
	<head>
		<meta charset="utf-8">
        <title>Tampines Town Council</title>
	</head>
	<body style="font-family:Calibri">
        <h2>
            Tampines Town Council - Reset Forgot Password
        </h2>
		<br /><br />
		Hi @(Model.UserAccount.Name),
		<br /><br />
		Please use the below link to reset your password.
		<br /><br />
		<a href="@ApplicationInstance.Application["ApplicationPath"]/ResetPassword/@Model.Key">@ApplicationInstance.Application["ApplicationPath"]/ResetPassword/@Model.Key</a>
	</body>
</html>
}
