@model UserAccount
@if (Model != null)
{
	<html>
	<head>
		<meta charset="utf-8">
        <title>Tampines Town Council - Reset Password</title>
	</head>
	<body style="font-family:Calibri">
        <h2>
            Tampines Town Council - Reset Password
        </h2>
		<br /><br />
		Hi @(Model.Name ),
		<br /><br />
		Your password has been changed.
		<br /><br />
		Please <a href="@ApplicationInstance.Application["ApplicationPath"]/Admin">click here</a> to login.
	</body>
</html>
}