<div class="footer">
    <div class="container">
        <div class="leftAlign">Copyright © 2020 Tampines Town Council. <span>All Rights Reserved.</span></div>
        <div class="rgtAlign">
            <a href="javascript:void(0)" target="_blank">Whistleblowing Policy</a><span>|</span><a href="javascript:void(0)" target="_blank">Privacy Policy</a><span>|</span><a href="javascript:void(0)">Sitemap</a>
        </div>
        <div class="clear"></div>
    </div>
</div>

