
@{
    ViewBag.Title = "ViewTempo";
}

    <div class="maincontents">
        <form>
            <h1>TEMPO</h1>
            <div class="floatRight"><a href="addArticle.html" class="editMetaBtn">Add Article</a></div>
            <div class="clear padding10"></div>
            <div class="homepage">
                <table cellpadding="0" cellspacing="0" class="tblgrey">
                    <tr>
                        <th width="60">S/N</th>
                        <th width="200">Date</th>
                        <th>Title</th>
                        <th width="200">Modified Date</th>
                        <th width="120">Action</th>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>21 Jan 2020</td>
                        <td>Dreaming About the Best Steak? Tampines Has It!</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="editArticle.html">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td>13 Dec 2019</td>
                        <td>Gifting Health with a Green Way of Life</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="editArticle.html">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>4 Nov 2019</td>
                        <td>Growing Our Green Future with 100 Fruit Trees</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="editArticle.html">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                    <tr>
                        <td>04</td>
                        <td>2 Oct 2019</td>
                        <td>Winners of Tampines Town Council 2019 Photo Contest</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="editArticle.html">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                    <tr>
                        <td>05</td>
                        <td>25 Sep 2019</td>
                        <td>An Eco-friendly Butterfly Paradise in the Heartland of Tampines</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="editArticle.html">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                    <tr>
                        <td>06</td>
                        <td>5 Sep 2019</td>
                        <td>We Share Because We Care</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="editArticle.html">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td>19 Aug 2019</td>
                        <td>Meet Jeryl Tan</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="editArticle.html">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                    <tr>
                        <td>08</td>
                        <td>14 Aug 2019</td>
                        <td>Learning Best at the Learning Fest!</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="editArticle.html">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                    <tr>
                        <td>09</td>
                        <td>8 Aug 2019</td>
                        <td>Meet Nicholas Zayden Tan!</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="editArticle.html">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>2 Aug 2019</td>
                        <td>Meet Mark Teo</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="editArticle.html">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>15 Jul 2019</td>
                        <td>2019 Photo Contest: #iloveTAMPINES because..</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="editArticle.html">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>11 Jul 2019</td>
                        <td>Eat, Drink and be Kind at the Newly Upgraded Tampines Round Market & Food Centre</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="editArticle.html">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                </table>

                <div class="padding10"></div>
                <div class="pagination">
                    <a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">...</a> <a href="#">7</a> <a href="#">8</a> <a href="#">9</a> <a href="#">&raquo;</a>
                </div>
            </div>
            <div class="clear padding10"></div>
        </form>
    </div>

