
@{
    ViewBag.Title = "ServiceConservancyCharges";
}
<div class="maincontents">
    <form>
        <h1>Resident Services</h1>
        <h2>Service &amp; Conservancy Charges</h2>
        <div class="padding5"></div>
        <table cellpadding="0" cellspacing="0" border="0" class="tblcreate">
            <tr>
                <td class="fieldname">Tab Name</td>
                <td><input type="text" value="Residential"></td>
            </tr>
            <tr>
                <td colspan="2"><div class="ckeditor"><img src="images/editor-scc01.jpg"></div></td>
            </tr>
            <tr>
                <td class="fieldname">Tab Name</td>
                <td><input type="text" value="Commercial"></td>
            </tr>
            <tr>
                <td colspan="2"><div class="ckeditor"><img src="images/editor-scc02.jpg"></div></td>
            </tr>
            <tr>
                <td class="fieldname">Tab Name</td>
                <td><input type="text" value="Payment"></td>
            </tr>
            <tr>
                <td colspan="2"><div class="ckeditor"><img src="images/editor-scc03.jpg"></div></td>
            </tr>
        </table>
        <div class="clear padding10"></div>
        <div class="floatRight">
            <input type="button" class="submitBtn whiteBg" value="Preview">&nbsp;
            <input type="submit" class="submitBtn whiteBg" value="Publish">
        </div>
        <div class="clear padding10"></div>
    </form>
</div>

