
@{
    ViewBag.Title = "UseOfCommoAreaOpenSpaces";
}

    <div class="maincontents">
        <form>
            <h1>Resident Services</h1>
            <h2>Use of Common Area/Open Spaces</h2>
            <div class="padding10"></div>
            <div class="homepage">
                <table cellpadding="0" cellspacing="0" border="0" class="tblcreate">
                    <tr>
                        <td class="fieldname">Tab Name</td>
                        <td><input type="text" value="Void Decks / Link Building"></td>
                    </tr>
                </table>
                <div class="padding10"></div>
                <div class="floatRight">
                    <a href="#" data-toggle="modal" data-target="#sortSeq" class="editMetaBtn">Sort Sequence</a>&nbsp;&nbsp;
                    <a href="addFunction.html" class="editMetaBtn">Add Function</a>
                </div>
                <div class="clear padding10"></div>
                <table cellpadding="0" cellspacing="0" class="tblgrey">
                    <tr>
                        <th width="60">S/N</th>
                        <th>Type of Function</th>
                        <th>Short Description</th>
                        <th>Charges (Per Day)</th>
                        <th>MP's Support</th>
                        <th>JHD/MUIS Support</th>
                        <th>To Inform Police?</th>
                        <th width="200">Modified Date</th>
                        <th width="120">Action</th>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Social</td>
                        <td>Wedding, Birthday Parties, etc.</td>
                        <td>
                            Rental: $50 per day<br />
                            Electricity: $12.00/point<br />
                            Water: $8/point
                        </td>
                        <td>No</td>
                        <td>No</td>
                        <td>No</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="editFunction.html">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td>Bereavement</td>
                        <td>Funeral Wakes</td>
                        <td>
                            Rental: NIL<br />
                            Electricity: $12.00 X 2<br />
                            Water: $8/point
                        </td>
                        <td>No</td>
                        <td>No</td>
                        <td>Yes</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="editFunction.html">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>Bereavement</td>
                        <td>Memorial Rites (Kong Teck)</td>
                        <td>
                            Rental: $50.00<br />
                            Electricity: $12.00/point<br />
                            Water: $8/point
                        </td>
                        <td>Yes</td>
                        <td>No</td>
                        <td>No</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="editFunction.html">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                    <tr>
                        <td>04</td>
                        <td>Religious</td>
                        <td>7th Moon Festival Dinners/Prayers</td>
                        <td>
                            Rental: $50.00<br />
                            Electricity: $12.00/point<br />
                            Water: $8/point
                        </td>
                        <td>Yes</td>
                        <td>No</td>
                        <td>No</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="editFunction.html">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                    <tr>
                        <td>05</td>
                        <td>Religious</td>
                        <td>Chinese celebration of God's birthday/ceremony, etc.</td>
                        <td>
                            Rental: $50.00<br />
                            Electricity: $12.00/point<br />
                            Water: $8/point
                        </td>
                        <td>Yes</td>
                        <td>No</td>
                        <td>No</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="editFunction.html">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                    <tr>
                        <td>06</td>
                        <td>Kenduri</td>
                        <td>- More than 3 hours</td>
                        <td>
                            Rental: $50.00<br />
                            Electricity: $12.00/point<br />
                            Water: $8/point
                        </td>
                        <td>No</td>
                        <td>No</td>
                        <td>No</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="editFunction.html">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td>Kenduri</td>
                        <td>- Less than 3 hours</td>
                        <td>
                            Rental: NIL<br />
                            Electricity: $12.00/point<br />
                            Water: $8/point
                        </td>
                        <td>No</td>
                        <td>No</td>
                        <td>No</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="editFunction.html">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                    <tr>
                        <td>08</td>
                        <td>Kenduri</td>
                        <td>Prophet Muhammad Birthday (Maulid Nabi)</td>
                        <td>
                            Rental: $20.00<br />
                            Electricity: $12.00/point<br />
                            Water: $8/point
                        </td>
                        <td>Yes</td>
                        <td>Yes</td>
                        <td>No</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="editFunction.html">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                    <tr>
                        <td>09</td>
                        <td>Kenduri</td>
                        <td>Nightly Tarawikh Prayers</td>
                        <td>Flat monthly utility rate of $300/- per month</td>
                        <td>Yes</td>
                        <td>Yes</td>
                        <td>No</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="editFunction.html">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Kenduri</td>
                        <td>Hari Raya Puasa/Haji Prayers</td>
                        <td>
                            Rental: $20.00<br />
                            Electricity: $12.00/point<br />
                            Water: $8/point
                        </td>
                        <td>Yes</td>
                        <td>Yes</td>
                        <td>No</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="editFunction.html">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                </table>

                <div class="padding10"></div>
                <hr />
                <div class="padding10"></div>

                <table cellpadding="0" cellspacing="0" border="0" class="tblcreate">
                    <tr>
                        <td class="fieldname">Tab Name</td>
                        <td><input type="text" value="Open Space"></td>
                    </tr>
                </table>
                <div class="padding10"></div>
                <div class="floatRight">
                    <a href="#" data-toggle="modal" data-target="#" class="editMetaBtn">Sort Sequence</a>&nbsp;&nbsp;
                    <a href="#" class="editMetaBtn">Add Function</a>
                </div>
                <div class="clear padding10"></div>
                <table cellpadding="0" cellspacing="0" class="tblgrey">
                    <tr>
                        <th width="60">S/N</th>
                        <th>Type of Function</th>
                        <th>Short Description</th>
                        <th>Charges (Per Day)</th>
                        <th>MP's Support</th>
                        <th>JHD/MUIS Support</th>
                        <th>To Inform Police?</th>
                        <th width="200">Modified Date</th>
                        <th width="120">Action</th>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Apron / Turf Area</td>
                        <td>Social & Religious function except funeral wake</td>
                        <td>
                            Rental: $20 per day plus $300 deposit<br />
                            Electricity: Use own generator<br />
                            Water: $8/point
                        </td>
                        <td>Yes, except wedding</td>
                        <td>No</td>
                        <td>No</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="#">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td>Big Sized Courts</td>
                        <td>
                            Social & Religious function except funeral wake<br /><br />
                            Eg: Basketball Courts
                        </td>
                        <td>
                            Rental: $100 per day plus $300 deposit<br />
                            Electricity: Use own generator<br />
                            Water: $8/point
                        </td>
                        <td>Yes, except wedding</td>
                        <td>No</td>
                        <td>No</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="#">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>Small Sized Courts</td>
                        <td>
                            Social & Religious function except funeral wake<br /><br />
                            Eg: Sepak Takraw & Badminton Court
                        </td>
                        <td>
                            Rental: $50 per day plus $300 deposit<br />
                            Electricity: Use own generator<br />
                            Water: $8/point
                        </td>
                        <td>Yes, except wedding</td>
                        <td>No</td>
                        <td>No</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="#">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                </table>

                <div class="padding10"></div>
                <hr />
                <div class="padding10"></div>

                <table cellpadding="0" cellspacing="0" border="0" class="tblcreate">
                    <tr>
                        <td class="fieldname">Tab Name</td>
                        <td><input type="text" value="Parks"></td>
                    </tr>
                </table>
                <div class="padding10"></div>
                <div class="floatRight">
                    <a href="#" class="editMetaBtn">Add Function</a>
                </div>
                <div class="clear padding10"></div>
                <table cellpadding="0" cellspacing="0" class="tblgrey">
                    <tr>
                        <th width="60">S/N</th>
                        <th>Type of Function</th>
                        <th>Short Description</th>
                        <th>Charges (Per Day)</th>
                        <th>MP's Support</th>
                        <th>JHD/MUIS Support</th>
                        <th>To Inform Police?</th>
                        <th width="200">Modified Date</th>
                        <th width="120">Action</th>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td></td>
                        <td>Only Social Functions</td>
                        <td>
                            Rental: $300.00 per day plus $1000.00 deposit per occassion<br />
                            Electricity: Use own generator<br />
                            Water: $8/point
                        </td>
                        <td>Yes</td>
                        <td>No</td>
                        <td>No</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="#">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                </table>

                <div class="padding10"></div>
                <hr />
                <div class="padding10"></div>

                <table cellpadding="0" cellspacing="0" border="0" class="tblcreate">
                    <tr>
                        <td class="fieldname">Tab Name</td>
                        <td><input type="text" value="Mini-Fairs"></td>
                    </tr>
                </table>
                <div class="padding10"></div>
                <div class="floatRight">
                    <a href="#" class="editMetaBtn">Add Function</a>
                </div>
                <div class="clear padding10"></div>
                <table cellpadding="0" cellspacing="0" class="tblgrey">
                    <tr>
                        <th width="60">S/N</th>
                        <th>Type of Function</th>
                        <th>Short Description</th>
                        <th>Charges (Per Day)</th>
                        <th>MP's Support</th>
                        <th>JHD/MUIS Support</th>
                        <th>To Inform Police?</th>
                        <th width="200">Modified Date</th>
                        <th width="120">Action</th>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td></td>
                        <td>At Void Deck</td>
                        <td>
                            Rental: $50.00 per day<br />
                            Electricity: Use own generator<br />
                            Water: $8/point
                        </td>
                        <td>Yes</td>
                        <td>No</td>
                        <td>No</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="#">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td></td>
                        <td>At Open Space</td>
                        <td>
                            Rental: $20.00 per day<br />
                            Electricity: Use own generator<br />
                            Water: $8/point
                        </td>
                        <td>No</td>
                        <td>No</td>
                        <td>No</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="#">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                </table>

                <div class="padding10"></div>
                <hr />
                <div class="padding10"></div>

                <table cellpadding="0" cellspacing="0" border="0" class="tblcreate">
                    <tr>
                        <td class="fieldname">Tab Name</td>
                        <td><input type="text" value="Grassroots Activities"></td>
                    </tr>
                </table>
                <div class="padding10"></div>
                <div class="floatRight">
                    <a href="#" class="editMetaBtn">Add Function</a>
                </div>
                <div class="clear padding10"></div>
                <table cellpadding="0" cellspacing="0" class="tblgrey">
                    <tr>
                        <th width="60">S/N</th>
                        <th>Type of Function</th>
                        <th>Short Description</th>
                        <th>Charges (Per Day)</th>
                        <th>MP's Support</th>
                        <th>JHD/MUIS Support</th>
                        <th>To Inform Police?</th>
                        <th width="200">Modified Date</th>
                        <th width="120">Action</th>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>For all Open Spaces & Void Decks</td>
                        <td>For residents' participation (e.g. block party etc.) for all facilities</td>
                        <td>
                            Rental: FOC<br />
                            Electricity: FOC<br />
                            Water: FOC
                        </td>
                        <td>No</td>
                        <td>No</td>
                        <td>No</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="#">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                </table>

                <div class="padding10"></div>
                <hr />
                <div class="padding10"></div>

                <table cellpadding="0" cellspacing="0" border="0" class="tblcreate">
                    <tr>
                        <td class="fieldname">Tab Name</td>
                        <td><input type="text" value="Community Hall"></td>
                    </tr>
                </table>
                <div class="padding10"></div>
                <div class="floatRight">
                    <a href="#" data-toggle="modal" data-target="#" class="editMetaBtn">Sort Sequence</a>&nbsp;&nbsp;
                    <a href="#" class="editMetaBtn">Add Function</a>
                </div>
                <div class="clear padding10"></div>
                <table cellpadding="0" cellspacing="0" class="tblgrey">
                    <tr>
                        <th width="60">S/N</th>
                        <th>Type of Function</th>
                        <th>Short Description</th>
                        <th>Charges (Per Day)</th>
                        <th>MP's Support</th>
                        <th>JHD/MUIS Support</th>
                        <th>To Inform Police?</th>
                        <th width="200">Modified Date</th>
                        <th width="120">Action</th>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Badminton Session</td>
                        <td>Badminton Session (Residents)</td>
                        <td>
                            Rental: (Residents) $10.00 per 2-hr session<br />
                            Electricity: -<br />
                            Water: -
                        </td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="#">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td>Badminton Session</td>
                        <td>Badminton Session (Staff/Grassroots/Councillors)</td>
                        <td>
                            Rental: (Residents) $10.00 per 2-hr session<br />
                            Electricity: -<br />
                            Water: -
                        </td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="#">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>Social Events / Gatherings</td>
                        <td>For Residents (weekdays)</td>
                        <td>
                            Rental: $250.00 rental per day plus $200.00 deposit.<br />
                            Electricity: -<br />
                            Water: -
                        </td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="#">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                    <tr>
                        <td>04</td>
                        <td>Social Events / Gatherings</td>
                        <td>For Residents (weekends)</td>
                        <td>
                            Rental: $400.00 rental per day plus $200.00 deposit.<br />
                            Electricity: -<br />
                            Water: -
                        </td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="#">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                    <tr>
                        <td>05</td>
                        <td>Social Events / Gatherings</td>
                        <td>For Grassroots (weekdays)</td>
                        <td>
                            Rental: $150.00 rental per day plus $200.00 deposit.<br />
                            Electricity: -<br />
                            Water: -
                        </td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="#">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                    <tr>
                        <td>06</td>
                        <td>Social Events / Gatherings</td>
                        <td>For Grassroots (weekends)</td>
                        <td>
                            Rental: $200.00 rental per day plus $200.00 deposit.<br />
                            Electricity: -<br />
                            Water: -
                        </td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>06/05/2020 12:00:00 PM</td>
                        <td><a href="#">Edit</a> | <a href="#" data-toggle="modal" data-target="#delete">Delete</a></td>
                    </tr>
                </table>

                <div class="padding10"></div>
                <hr />
                <div class="padding10"></div>

                <table cellpadding="0" cellspacing="0" border="0" class="tblcreate">
                    <tr>
                        <td class="fieldname">Tab Name</td>
                        <td><input type="text" value="Others"></td>
                    </tr>
                    <tr>
                        <td class="fieldname" colspan="2">Content</td>
                    </tr>
                    <tr>
                        <td colspan="2"><div class="ckeditor"><img src="images/editor-commonArea.jpg"></div></td>
                    </tr>
                </table>

                <div class="padding10"></div>
                <div class="floatRight">
                    <input type="button" class="submitBtn whiteBg" value="Preview">&nbsp;
                    <input type="submit" class="submitBtn whiteBg" value="Publish">
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear padding10"></div>
        </form>
    </div>

