
@{
    ViewBag.Title = "Subscription";
}

<div class="maincontents">
    <form>
        <h1>Contact Us</h1>
        <h2>Newsletter Subscription</h2>
        <div class="padding5"></div>
        <div class="formLayout">
            <table cellpadding="0" cellspacing="0" border="0" class="tblcreate">
                <tr>
                    <td class="fieldname">Export Records</td>
                    <td><input type="button" class="submitBtn" value="Export"></td>
                </tr>
            </table>
        </div>
        <div class="clear padding10"></div>
    </form>
</div>

