<div class="footer">
    <div class="container">
        <div class="leftAlign">Copyright © 2020 Tampines Town Council. <span>All Rights Reserved.</span></div>
        <div class="rgtAlign">
            <a href="src/TTC-Whistleblowing-Policy.pdf" target="_blank">Whistleblowing Policy</a><span>|</span><a href="src/TTC-PDPA-Public-Policy.pdf
" target="_blank">Privacy Policy</a><span>|</span><a href="sitemap.html">Sitemap</a>
        </div>
        <div class="clear"></div>
    </div>
</div>

